<h1> House: <%= @house.name %> </h1>

<p><img class = "crests" src = "<%= @house.crest_url %>"></p>

<h2> Words: <%= @house.words %> </h2>
<h2> Seat: <%= @house.seat %> </h2>

<h3><%= link_to "Edit House", edit_house_path(@house) %></h3>
<h3><%= link_to "Delete House", house_path(@house), method: :delete %></h3>


<h1> Members of House </h1>

<% @house.characters.each do |character| %>
  <p> <%= link_to "#{character.name}", house_character_path(@house, character) %> </p>
  <p> <img class = "photo" src = "<%= character.photo_url %>"> </p>
<% end %>

<p> <%= link_to "Add a New Character", new_house_character_path(@house) %> </p>
